.sort {
  padding: 2px 2px;
  border: 2px solid brown;
  border-radius: 15px;
  outline: none;
}

.sort:focus {
  border-bottom: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.h3 {
  margin-bottom: 15px;
}
