.wrapper {
  width: 80%;
  display: grid;
  grid-template-columns: 300px 3fr 1fr;
  gap: 40px;
  margin: auto;
}

.wrapper h2 {
  margin-bottom: 10px;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.carousel {
  display: flex;
  flex-direction: column;
  height: inherit;
}

.checkout {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.variants img {
  width: 150px;
  height: auto;
  object-fit: contain;
  border-radius: 10px;
  border: 2px solid white;
}

.variants img:hover {
  border: 2px solid saddlebrown;
  cursor: pointer;
}

.variants {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

img.highlighted {
  border: 2px solid saddlebrown;
}

.color {
  vertical-align: middle;
  margin-left: 10px;
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid rgb(150, 150, 150);
}
.colorLabel {
  color: gray;
}

.attr {
  display: flex;
  gap: 20px;
  margin: 10px 0;
  justify-content: space-between;
}
