.product {
  display: grid;
  grid-template-columns: 100px auto 100px 100px;
  gap: 20px;
  align-items: center;
  justify-items: left;
}

.img {
  width: 100px;
  height: 100px;
}

.img img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.spec {
  flex-grow: 1;
}

.h2 {
  text-align: center;
}
.h5 {
  font-size: 16px;
  margin-bottom: 10px;
}

.wrapper {
  display: flex;
  gap: 20px;
  font-size: 14px;
  max-width: 900px;
  margin: 40px auto;
  padding: 20px;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 2px 2px 20px 15px hsl(0deg 0% 0% / 12.16%);
  --color: hsla(32, 100%, 50%);
  --hover-buy-bg-color: hsla(32, 100%, 50%, 0.15);
}

.undiscounted {
  text-decoration: line-through 1px;
}
