.filters {
  font-size: 14px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-self: end;
  max-width: 300px;
}

.mobile {
  display: none;
  align-items: center;
}

.mobile img {
  width: auto;
  height: 35px;
}
