.discount {
  --color: var(--discount-color, gray);
  color: var(--color);
  position: relative;
  z-index: 2;
}

.discount::after {
  left: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) rotate(356deg);
  display: block;
  content: '';
  width: 100%;
  height: 1px;
  background-color: var(--color);
}
