.wrapper {
  width: 80%;
  display: grid;
  grid-template-columns: 300px 3fr 1fr;
  gap: 40px;
  margin: auto;
}

.wrapper h2 {
  margin-bottom: 10px;
}

.galleryWrapper {
  grid-template-columns: none;
  grid-template-rows: 350px max-content;
}

.galleryMainImg:hover {
  cursor: pointer;
  transform: scale(1.2, 1.2);
  transition: transform 0.2s;
}

.galleryThumbnails {
  display: grid;
  grid-template-columns: repeat(auto-fit, 100px);
  gap: 5px;
  justify-content: center;
  scrollbar-gutter: auto;
  position: relative;
  top: -60px;
  width: 120%;
}

.galleryThumbnails img {
  height: 100px;
  object-fit: contain;
  background: white;
}

.checkout {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.variants img {
  width: 150px;
  height: auto;
  object-fit: contain;
  border-radius: 10px;
  border: 2px solid white;
}

.variants img:hover {
  border: 2px solid saddlebrown;
  cursor: pointer;
}

.variants {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

img.highlighted {
  border: 2px solid saddlebrown;
}
