.nav {
  display: flex;
  flex-wrap: wrap;
  column-gap: 10px;
}

.nav a:hover {
  color: hsl(0deg 0% 67.72% / 80%);
}

.nav a:hover::after {
  color: black;
}

.nav a::after {
  content: ' >  ';
}

.nav a:last-child::after {
  content: '';
}

.list {
  list-style: none;
}

.list li a:hover {
  color: hsl(0deg 0% 67.72% / 80%);
}

@media (width <= 1000px) {
  .list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px 20px;
    justify-content: space-between;
  }
}
