.wrapper {
  display: grid;
  gap: 20px;
  grid-template-columns: 150px auto;
  grid-auto-rows: minmax(100px, 100%);
  justify-items: center;
  min-height: 0;
  /* width: 100vw;
  height: 100vh; */
}

.thumbnails {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 5px;
  overflow-y: scroll;
  scrollbar-width: thin;
  padding: 10px;
}

.thumbnails img {
  width: 100%;
  height: auto;
  border: 2px solid white;
}

img.active {
  border: 2px solid sienna;
}

.thumbnails img:hover:not(.active) {
  cursor: pointer;
  border: 2px solid sandybrown;
}

.image {
  height: 100%;
  width: auto;
  max-width: 100%;
  object-fit: contain;
}
