.wrapper {
  max-width: 1280px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  margin: auto;
  padding: 0 15px;
}

.header {
  box-shadow: 0 2px 2px hsla(0, 10%, 10%, 0.1);
  margin-bottom: 15px;
  height: 60px;
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: white;
}

.navigation {
  display: flex;
  align-items: center;
  flex-grow: 2;
}

.navigation > a,
.navigation > span {
  padding: 8px 32px;
  border-radius: 10px;
  flex-basis: 0;
  flex-grow: 1;
  text-align: center;
}

.header a:hover:not(.active) {
  background-color: hsl(0deg 0% 67.72% / 25%);
}

.active {
  background-color: hsl(0deg 0% 67.72% / 50%);
}

.search {
  width: 300px;
  background-color: brown;
  border-radius: 10px;
  display: flex;
  flex-grow: 3;
}

.searchInput {
  border: 2px solid brown;
  border-right: none;
  border-radius: 10px;
  outline: none;
  padding: 7px 11px;
  flex-grow: 4;
}

.searchButton {
  border: 2px solid brown;
  border-left: none;
  border-radius: 10px;
  background-color: inherit;
  color: white;
  flex-grow: 1;
  padding: 6px;
}

.cart {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cartIcon {
  position: absolute;
  transform: translateX(100%);
}

.cartSvg {
  width: 40px;
  height: auto;
  vertical-align: middle;
}

.amount,
.totalPrice {
  right: 15px;
  transform: translateX(100%);
  line-height: 1;
  font-size: 12px;
  position: absolute;
  padding: 2px 5px;
  font-weight: 600;
  border-radius: 20px;
  color: white;
}

.amount {
  top: 0;
  background-color: brown;
}

.totalPrice {
  bottom: 0;
  background-color: darkcyan;
}
