.button {
  color: var(--color);
  width: 25px;
  height: 25px;
  border-radius: 50%;
  position: relative;
}

.button:not(.disabled):hover {
  background-color: var(--hover-buy-bg-color);
  cursor: pointer;
}

.button::after,
.button:last-child::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  content: '';
  display: block;
  width: 80%;
  height: 2px;
  background-color: var(--color);
  border-radius: 50%;
}

.button:last-child::before {
  width: 2px;
  height: 80%;
}

.quantity {
  text-align: center;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
}
