.spinner {
  display: inline-block;
  background: transparent;
  vertical-align: middle;
  aspect-ratio: 1;
  width: auto;
  height: var(--spinner-size, 10px);

  border: var(--spinner-width, 2px) solid white;
  border-bottom: var(--spinner-width, 2px) solid #c3c3c3;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
